@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* fancy serif font */
    font-family: 'Merriweather', serif;
  color: rgba(255, 255, 255, 1);
  /* gray-300 */
  background-color: rgba(209, 213, 219, 1);
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
